<div class="container">
  <div class="todo-list">
    <p class="todo-list__title">TODO APP</p>
    <div class="todo-list__add">
      <div class="input-box">
        <input class="input-box__input" type="text">
      </div>
      <button class="btn">Add</button>
    </div>
    <div class="todo-list__function">
      <button class="btn btn_s btn_m-r btn_red">Delete</button>
      <button class="btn btn_s btn_green">Done</button>
    </div>
    <ul class="list">
      <li class="list__item">
        <label class="list__checkbox-box" for="1">
          <input class="list__checkbox-input" id="1" type="checkbox">
          <div class="list__checkbox"></div>
        </label>
        <p class="list__text">睡前刷牙</p>
      </li>
    </ul>
  </div>
</div>
