<div class="container">
  <div class="todo-list">
    <p class="todo-list__title">TODO APP</p>
    <div class="todo-list__add">
      <div class="input-box">
        <input class="input-box__input" type="text" [(ngModel)]="addText">
      </div>
      <button class="btn" [class.btn_disabled]="isAddTextEmpty()" (click)="addItem()">Add</button>
    </div>
    <div class="todo-list__function">
      <button class="btn btn_s btn_m-r btn_red" [class.btn_disabled]="selectQty === 0" (click)="deleteItem()">Delete</button>
      <button class="btn btn_s btn_green" [class.btn_disabled]="selectQty === 0" (click)="setDone()">Done</button>
    </div>
    <ul class="list">
      <ng-container *ngFor="let item of list; let itemIndex=index">
        <li class="list__item" *ngIf="!item.isDone">
          <label class="list__checkbox-box" [for]="itemIndex">
            <input class="list__checkbox-input" [id]="itemIndex" type="checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="selectItem(item)">
            <div class="list__checkbox"></div>
          </label>
          <p class="list__text">{{item.method}}</p>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="todo-list__process-done">
    <div class="process-bar">
      <div class="process-bar__bar" [ngStyle]="{'width': doneRate + '%'}"></div>
      <p class="process-bar__text">{{doneQty}} of {{list.length}} tasks done</p>
    </div>
    <button class="btn btn_s btn_yellow" [class.btn_disabled]="doneQty === 0" (click)="clearDone()">Clear Done</button>
  </div>
</div>
